<!-- <aside class="navbar-left">
  <div class="navbar-logo" style="background-color: #0070AC;">
      <a href="#">
          <img src="../../assets/images/ensar-white-logo.svg" alt="" class="normal-logo animate__animated animate__zoomIn" />

      </a>
  </div>

  <div class="navbar-main animate__animated animate__fadeInLeft animate__faster">
      <ul>
        <li><a routerLink="employees" routerLinkActive="active" class="nav-link"><img src="../../assets/images/employees-icon.svg" alt="" />All Employees</a></li>
        <li><a routerLink="projects" routerLinkActive="active" class="nav-link"><img src="../../assets/images/projects-icon.svg" alt="" />projects</a></li>
        <li><a routerLink="timeoff" routerLinkActive="active" class="nav-link"><img src="../../assets/images/timeoff-icon.svg" alt="" />Time off</a></li>
        <li><a routerLink="holidays" routerLinkActive="active" class="nav-link" ><img src="../../assets/images/career-icon.svg" alt="" />Holidays</a></li>
        <li><a routerLink="attendence" routerLinkActive="active" class="nav-link" ><img src="../../assets/images/attendance-icon.svg" alt="" />Attendence</a></li>
        <li><a href="tasks"><img src="../../assets/images/career-icon.svg" alt="" />Carrer</a></li>
        <li><a href="perfomence"><img src="../../assets/images/performance-icon.svg" alt="" style="margin-left: -1px;"/>Performence</a></li>
        <li><a routerLink="departments" routerLinkActive="active" class="nav-link"><img src="../../assets/images/departments-icon.svg" alt="" />Departments</a></li>
        <li ><a routerLink="designation" routerLinkActive="active" class="nav-link" ><img src="../../assets/images/designation-icon.svg" alt="" />Designation</a></li>
      </ul>
  </div>
</aside>
<aside class="content-container">
  <router-outlet></router-outlet>
</aside> -->



<aside class="navbar-left">
  <div class="navbar-logo" style="background-color:#0070AC;">
      <a href="#">
          <img src="../../assets/images/ensar-white-logo.svg" alt="" class="normal-logo animate__animated animate__zoomIn" />

      </a>
  </div>

  <div class="navbar-main animate__animated animate__fadeInLeft animate__faster">
      <ul>
        <li><a routerLink="employees" routerLinkActive="active" class="nav-link"><img src="../../assets/images/employees-icon.svg" alt="" />All Employees</a></li>
        <li><a routerLink="projects" routerLinkActive="active" class="nav-link"><img src="../../assets/images/projects-icon.svg" alt="" />projects</a></li>
        <li><a routerLink="holidays" routerLinkActive="active" class="nav-link"><img src="../../assets/images/timeoff-icon.svg" alt="" />Holidays</a></li>
        <li><a routerLink="timeoff" routerLinkActive="active" class="nav-link"><img src="../../assets/images/timeoff-icon.svg" alt="" />Time off</a></li>

        
        <!-- <div  class=" text-left">                      
          <div class="dropdown show">       
              <span   data-toggle="dropdown" class="dropdown-toggle">Time off </span>
              <div  class="dropdown-menu">
                  <a  onclick=" true" class="dropdown-item"> > Holidays</a>
                  <a  onclick="true" class="dropdown-item"> > Time off</a>
               </div>            
      </div>
        </div> -->

        <li><a routerLink="attendances" routerLinkActive="active" class="nav-link"><img src="../../assets/images/attendance-icon.svg" alt="" />Attendence</a></li>
        <li><a href="tasks"><img src="../../assets/images/career-icon.svg" alt="" />Carrer</a></li>
        <li><a href="perfomence"><img src="../../assets/images/performance-icon.svg" alt="" style="margin-left: -1px;"/>Performence</a></li>
        <li><a routerLink="departments" routerLinkActive="active" class="nav-link"><img src="../../assets/images/departments-icon.svg" alt="" />Departments</a></li>
        <li><a routerLink="designations" routerLinkActive="active" class="nav-link"><img src="../../assets/images/designation-icon.svg" alt="" />Designation</a></li>
        
      </ul>
  </div>
</aside>
<aside class="content-container">
  <!-- <app-all-employees></app-all-employees> -->
  <router-outlet></router-outlet>
</aside>